<!DOCTYPE html>
<html lang="en">
<head>
  <div class="circule1">
  </div>
  <div class="circule2">
  </div> 
     <meta charset="UTF-8">
    <link rel="stylesheet" href="style44.css">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>

  <section class="login">
    <div class="main">
    
    <div class="text">
    <h1>
    welcome</h1>
    <p color='red'> Almost before you knew it, you had left the ground.</p>
    </div>

    <div class="btns">
    <button class="sign-btn">Sign In</button>
 
    <button class="google-btn">Sign In with Google</button>
    <a class="account" href="#">New Account ?</a>
    </div>
    <div class="close">
     <a href="#"><i class="fas fa-times"></i></a>
    </div>
    </div>
    <div class="signin">
    <form>
 
    <input placeholder="enter email" type="email" />

    <input placeholder="Password" type="password" />

    <button class="signin-btn">Sign In</button>
    </form>
    </div>

    <div class="signup">
    <form>

    <input placeholder="someone@example.com" type="email" />

    <input placeholder="Password" type="password" />

    <input placeholder="Repeat Password" type="password" />

    <button class="signup-btn">Sign Up</button>
    </form>
    </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="main.js"> </script>
</body>
</html>
