<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SStoreEasyY</title>
    <link rel="stylesheet" href="../static/css/style15.css">
    <style type="text/css">
       *{
            margin: 0;
            padding: 0;
        }
       h1{
            position: all;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
       }

    </style>
  </head>
  <body>
    <nav>
      <label class="nofile">SStoreEasyY</label>
      <ul>
<li><a class="active" href="#">Home</a></li>
<li><a href="#">Features
          <i class="fas fa-caret-down"></i>
        </a>
          <ul>

<li><a href="#">Encrypt File</a></li>
<li><a href="#">Decrypt File</a></li>
<li><a href="#">Keys</a></li>
</ul>
</li>
<li><a href="#">Contact</a></li>
<li><a href="#">Feedback</a></li>
      <br>
      <br>
 <meta charset=utf-8>
 <br><br><br><br><br><br><br>
 <br><br><br>
<font color="red">NO FILE SELECTED</font>
<font color="red">
<form action="/data/" method=post enctype=multipart/form-data><br>
<p><input type=file name=file><br><br>
Only *.txt files allowed.<br><br>
<input type=submit value="Upload & Process">
</form></center>  
</ul>
</nav>
  
    <section></section>

  </body>
</html> 